version: '3.9'

services:
  app:
    build: .
    container_name: base_bot-app-1
    command: >
      sh -c "echo '⏳ Waiting for DB...' &&
             until pg_isready -h db -U user -d db; do sleep 1; done &&
             echo '✅ DB is ready! Starting app...' &&
             uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      DATABASE_URL: postgresql+asyncpg://user:password@db:5432/db
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    networks:
      - backend

networks:
  backend:
    driver: bridge